/*
Michael Meding
mikeymeding@gmail.com (this is my prefered email)
Student studying Computer Science at the University of Massachusetts Lowell
Created on: 09/09/2014
Course Info: 91.461 GUI programming 1 Jesse M. Heines 

This page is designed to show a simple page that includes some 
handwritten css with good selectors.
*/

#hacker-glider {
	margin-top: 5px;
	width: 25px;
	height: auto;
	padding: 2px;
}

/* all images get hover dropshadow effect*/
img:hover {
	box-shadow: 5px 5px 3px #888888;	
}

/*center top logo and remove dropshadow effect*/
#banner.img-responsive {
	margin: 0 auto;
	box-shadow: 0px 0px 0px #fffffe; 
}


/*inital content styling*/
div#content {
	display: none;
}

/*centering and sizing loading gif*/
div#loading img{             
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 160px;
	height: 24px;
	cursor: wait;                
	padding-top: 5px;
}

/*styling the loading text*/
div#loading p{
	margin-top: 9%;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 20px;	
}

/*I AM NOW USING RESPONSIVE IMAGE DESIGN*/

/*big center imgages
img.center-img {
	makes each image a block with its own alignment properties
	display: block;
	margin: 15px;
	width: 60%;
	height: auto;
	margin-left: 20%;
	margin-right: auto;
	box-shadow: 8px 8px 5px #888888;
}

a left-right pairing of images
div.pair-img {
	display: inline-block;
	width: 100%;
	margin-left: 20%;
}
paired imgage on the right side
div.pair-img img.right-img {
	margin: 15px;
	width: 28%;
	height: auto;
	box-shadow: 8px 8px 5px #888888;	
}
paired imgage on the left side
div.pair-img img.left-img {
	margin: 15px;
	width: 28%;
	height: auto;
	box-shadow: 8px 8px 5px #888888;	
} */

/*top horizontal bar*/
hr { width:80%; 
	  border: 0;
	  height: 1px;
	  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
	  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

/*headers and background stuff*/
h1,h2,h3 {
	/*orangy red*/
	color: #E4492D; 	
	text-align: center;
	/*import google font*/
	font-family: 'Lato', sans-serif;	
	padding: 3px;
	margin: 3px;
}
h1 {
	font-weight: 300;
	font-size: 500%;
}
h1:first-letter {
	/*lighish blue*/
	color: #ADD8E6;
}
h3 {
	font-size: 100%;	
	padding-bottom: 20px;
}

body {
	padding-top: 20px;
	/*very light cream*/
	background-color: #fffffe; 
}