/*
Michael Meding
mikeymeding@gmail.com (this is my prefered email)
Student studying Computer Science at the University of Massachusetts Lowell
Created on: 09/09/2014
Course Info: 91.461 GUI programming 1 Jesse M. Heines 

This page is designed to show a simple page that includes some 
handwritten css with good selectors.
*/

/* adds the little glider after my name in the footer*/
#hacker-glider {
	margin-top: 5px;
	width: 25px;
	height: auto;
	padding: 2px;
}
